<!-- Image and text -->
<nav class="navbar navbar-text-white bg-dark bg-text-white bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/images/m.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Gestor de Proyectos
  </a>
</nav>